<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FruitsBlog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <!-- header design -->
  <header class="header">
    <a href="#" class="logo">Portfolio</a>
    <i class="bx bx-menu" id="menu-icon"></i>
    <nav class="navbar">
      <!-- total of 7 a tags -->
      <a href="#home" class="active">Home</a>
      <a href="/recipes">About</a>
      <a href="/fruits">Vlog</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
    </nav>
  </header>

  <section class="portfolio" id="portfolio">
    <div class="portfolio-container">
      <div class="portfolio-box">
        <img
          src="https://imgs.search.brave.com/Syg0KFoI0lxhhL16kw7ToP-XdfIGcdVm-_Mcz5qATlg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/YmVmdW5reS5jb20v/aW1hZ2VzL3dwL3dw/LTIwMjItMDUtRm9v/ZC1CbG9nLTEuanBl/Zz9hdXRvPWF2aWYs/d2VicCZmb3JtYXQ9/anBnJndpZHRoPTk0/NA"
          alt=""
        />
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            laboriosam assumenda minus illum ea voluptatibus?
          </p>
          <a href="#"><i class="bx bx-link-external"></i></a>
        </div>
      </div>

      <div class="portfolio-box" id="portfolio-2">
        <img
          src="https://imgs.search.brave.com/6gGI8FhSG9NYr1JJKkCAVSnE9qX4IxRdPW_2YhzrZlY/rs:fit:500:0:0/g:ce/aHR0cDovL3d3dy5o/YXRjaGFmb29kYmxv/Zy5jb20vd3AtY29u/dGVudC91cGxvYWRz/LzIwMTYvMDcvMDA3/Yi1QaG90b2dyYXBo/eS1Gb3ItRm9vZC1C/bG9nZ2Vycy5qcGc"
          alt=""
        />
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            laboriosam assumenda minus illum ea voluptatibus?
          </p>
          <a href="#"><i class="bx bx-link-external"></i></a>
        </div>
      </div>

      <div class="portfolio-box">
        <img
          src="https://imgs.search.brave.com/wimSzTJK9KGyQEHXPzRCd5AzP-6pq_iAWIxz7s1k9aM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTE1/NjMwNDUzMS9waG90/by9oYW5kcy13aXRo/LXRoZS1waG9uZS1j/bG9zZS11cC1waWN0/dXJlcy1vZi1mb29k/LndlYnA_Yj0xJnM9/MTcwNjY3YSZ3PTAm/az0yMCZjPUR4TEdC/RW1RY3JlRHdOa1pZ/YmotRndldE9wRU1l/ZldCT25LWHhXcVdY/dUE9"
          alt=""
        />
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            laboriosam assumenda minus illum ea voluptatibus?
          </p>
          <a href="#"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
    </div>
  </section>

  <body></body>
</html>
