<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meats</title>
</head>
<body>
    <h1>All Meats</h1>
    <% for( let index = 0; index < allMeats.length; index++ ) { %>
        <% let meat = allMeats[index] %>
        <div>
            <h4><%= meat.name %></h4>
            <a href="/meats/<%= index %>">Checkout more...</a>
        </div>
    <% } %>
</body>
</html>